# Dependencies
node_modules
.pnp
.pnp.js

# Next.js
.next
out

# Legacy Gatsby
.cache
public/sw.js
public/workbox-*

# Misc
.DS_Store
*.pem
.env*.local
npm-debug.log*
yarn-error.log

# Husky
.husky/_
